
<div class="col-lg-10 mx-auto">
	<h2 class="text-center">About_Us </h2>

	<%= render 'shared/dummy_content'  %>
<hr>
<%= link_to image_tag("boy2", alt: "logo", width:"200px" ) %>
<%= link_to image_tag("girl1", alt: "logo", width:"200px" ) %>

<%= link_to image_tag("girl2", alt: "logo", width:"200px" ) %>
<%= link_to image_tag("activity", alt: "logo", width:"200px" ) %>
<%= link_to image_tag("boy1", alt: "logo", width:"200px" ) %>


</div>
<%#= render 'shared/links'   %>
