
<div class="col-lg-10 mx-auto">
	<h2 class="text-center">Activity</h2>
<%= link_to image_tag("boy1", alt: "logo", width:"200px" ) %>
<%= link_to image_tag("boy2", alt: "logo", width:"200px" ) %>

<%= link_to image_tag("girl1", alt: "logo", width:"200px" ) %>

<%= link_to image_tag("girl2", alt: "logo", width:"200px" ) %>
<%= link_to image_tag("pexels", alt: "logo", width:"200px" ) %>

<br>
<hr>
<br>
<hr>
<%= link_to image_tag("activity", alt: "logo", width:"200px" ) %>
<%= link_to image_tag("school2", alt: "logo", width:"200px" ) %>

<%= link_to image_tag("book", alt: "logo", width:"200px" ) %>

<%= link_to image_tag("book1", alt: "logo", width:"200px" ) %>


<%= link_to image_tag("pexelseye", alt: "logo", width:"200px" ) %>

<br>
<hr>
<p>
	<strong>A student activity summary report is a teacher report that provides information about a student's performance in a class. It can include a list of activities the student has participated in, as well as metrics for each activity. These metrics can include: Percentage complete, Number of responses submitted, Average activity score, Quiz score, and Time on task. </strong>

</p>
<span>activities are tasks that a teacher assigns to help students develop their summarizing skills. These can be in-class or at-home exercises that a student completes, showing their understanding of texts and how to explain them in their own words.</span>

	<%#= render 'shared/dummy_content'  %>
<hr>

</div>
<%= render 'shared/links'   %>
