<%= form_with model: @teacher do |form|  %>
<div class="row">

<!--  <%# if @student.errors.any? %>
  <div class="col-lg-12">
  	<p class="lead">please fix errors below</p>
  	<%#  @student.errors.full_messages.each do |message| %>
      <p class="text-danger"><%#= message%></p>
  	<%# end %>
     
  </div>
  <%# end %> -->
     
     


	<div class="col-lg-4">
		<div class="from-group">
			<%= form.label :first_name, class: 'mb-2' %>
			<%= form.text_field  :first_name, class: 'form-control form-control-lg'%>
			  	<%  @teacher.errors.full_messages_for(:first_name).each do |message| %>
			  	  <p class="text-danger"><%= message%></p>
                 <% end %>
		</div>
	</div>

	<div class="col-lg-4">
		<div class="from-group">
			<%= form.label :last_name, class: 'mb-2' %>
			<%= form.text_field  :last_name, class: 'form-control form-control-lg'%>
			<%  @teacher.errors.full_messages_for(:last_name).each do |message| %>
			  	  <p class="text-danger"><%= message%></p>
                 <% end %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<div class="from-group">
			<%= form.label :Email, class: 'mb-2' %>
			<%= form.email_field :email, class: 'form-control form-control-lg'%>
			<%  @teacher.errors.full_messages_for(:email).each do |message| %>
			  	  <p class="text-danger"><%= message%></p>
                 <% end %>

                 
		</div>
	</div>
	<div class="col-lg-4">
		<div class="from-group">
			<%= form.label :Subject, class: 'mb-2' %>
	 <%= form.select :subject_id, options_from_collection_for_select(Subject.all, :id, :sub_name), {}, class: 'form-control form-control-lg' %>
   </div>
	</div>
    
</div>



</div>

<div class="row">
	<div class="col-lg-4">
		<div class="from-group">
			<%= form.label :Address, class: 'mb-2' %>
			<%= form.text_field  :address, class: 'form-control form-control-lg'%>
			<%  @teacher.errors.full_messages_for(:address).each do |message| %>
			  	  <p class="text-danger"><%= message%></p>
                 <% end %>
		</div>
	</div>
    



    
	</div>

	<div class="row">
		<div class="col-lg-12 mt-4">
		<%= form.submit class: 'btn btn-primary btn-lg' %>

        <%= link_to "Back to Teacher" , teachers_path, class: "btn btn-outline-primary btn-lg " %>
		</div>
	</div>

<% end %>